/* https://davidwalsh.name/css-flip */

/* entire container, keeps perspective */
.flip-container {
    perspective: 600px;
}

/* flip the pane when hovered */
.flip-container:hover .flipper {
    transform: rotateY(180deg);
}

.flip-container, .front, .back {
    width: 450px;
    height: 200px;
}

/* flip speed goes here */
.flipper {
    /* transition duration */
    transition: 0.6s;
    transform-style: preserve-3d;

    position: relative;
}

/* hide back of pane during swap */
.front, .back {
    backface-visibility: hidden;

    position: absolute;
    top: 0;
    left: 0;
}

/* front pane, placed above back */
.front {
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
    /* initially facing back */
    transform: rotateY(180deg);
}
